
{% extends 'index.html' %}

{% block content  %}
		<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/home2">Treatment</a>
  <a href="/dd">Diabetes Detector</a>
  <a href="/map">Nearby Hospitals</a>
  <a href="/about">About</a>
</div>



<div class="main-w3layouts wrapper">
		<div class="main">
            <div class="custombg">
		<div class="main-agileinfo2">
			<div class="agileits-top">
<h1 align="center" style="color:white;">Treatment</h1><br><p>Depending on what type of diabetes you have, blood sugar monitoring, insulin and oral medications may play a role in your treatment. Eating a healthy diet, maintaining a healthy weight and participating in regular activity also are important factors in managing diabetes.</p>


            <h3  align="center" style="color:white;">Treatments for all types of diabetes</h3><p>An important part of managing diabetes &mdash; as well as your overall health &mdash; is maintaining a healthy weight through a healthy diet and exercise plan:</p>
<ul>
    <li>
    <p><strong>Healthy eating.</strong> Contrary to popular perception, there's no specific diabetes diet. You'll need to center your diet on more fruits, vegetables, lean proteins and whole grains &mdash; foods that are high in nutrition and fiber and low in fat and calories &mdash; and cut down on saturated fats, refined carbohydrates and sweets. In fact, it's the best eating plan for the entire family. Sugary foods are OK once in a while, as long as they're counted as part of your meal plan.
    Yet, understanding what and how much to eat can be a challenge. A registered dietitian can help you create a meal plan that fits your health goals, food preferences and lifestyle. This will likely include carbohydrate counting, especially if you have type 1 diabetes or use insulin as part of your treatment.</p>
    </li>
    <li>
    <p><strong>Physical activity.</strong> Everyone needs regular aerobic exercise, and people who have diabetes are no exception. Exercise lowers your blood sugar level by moving sugar into your cells, where it's used for energy. Exercise also increases your sensitivity to insulin, which means your body needs less insulin to transport sugar to your cells.
   Get your doctor's OK to exercise. Then choose activities you enjoy, such as walking, swimming or biking. What's most important is making physical activity part of your daily routine.
   Aim for at least 30 minutes or more of aerobic exercise most days of the week, or at least 150 minutes of moderate physical activity a week. Bouts of activity can be as brief as 10 minutes, three times a day. If you haven't been active for a while, start slowly and build up gradually. It's also a good idea to avoid sitting for too long &mdash; aim to get up and move if you've been sitting for more than 30 minutes.</p>
    </li>
</ul>


            <h3  align="center" style="color:white;">Treatments for type 1 and type 2 diabetes</h3><p>Treatment for type 1 diabetes involves insulin injections or the use of an insulin pump, frequent blood sugar checks, and carbohydrate counting. Treatment of type 2 diabetes primarily involves lifestyle changes, monitoring of your blood sugar, along with diabetes medications, insulin or both.</p>
<ul>
    <li>
    <p><strong>Monitoring your blood sugar.</strong> Depending on your treatment plan, you may check and record your blood sugar as many as four times a day or more often if you're taking insulin. Careful monitoring is the only way to make sure that your blood sugar level remains within your target range. People with type 2 diabetes who aren't taking insulin generally check their blood sugar much less frequently.
    People who receive insulin therapy also may choose to monitor their blood sugar levels with a continuous glucose monitor. Although this technology hasn't yet completely replaced the glucose meter, it can significantly reduce the number of fingersticks necessary to check blood sugar and provide important information about trends in blood sugar levels.
    Even with careful management, blood sugar levels can sometimes change unpredictably. With help from your diabetes treatment team, you'll learn how your blood sugar level changes in response to food, physical activity, medications, illness, alcohol, stress &mdash; and for women, fluctuations in hormone levels.
    In addition to daily blood sugar monitoring, your doctor will likely recommend regular A1C testing to measure your average blood sugar level for the past two to three months.
    Compared with repeated daily blood sugar tests, A1C testing better indicates how well your diabetes treatment plan is working overall. An elevated A1C level may signal the need for a change in your oral medication, insulin regimen or meal plan.
    Your target A1C goal may vary depending on your age and various other factors, such as other medical conditions you may have. However, for most people with diabetes, the American Diabetes Association recommends an A1C of below 7%. Ask your doctor what your A1C target is.</p>
    </li>
    <li>
    <p><strong>Insulin.</strong> People with type 1 diabetes need insulin therapy to survive. Many people with type 2 diabetes or gestational diabetes also need insulin therapy.
    Many types of insulin are available, including short-acting (regular insulin), rapid-acting insulin, long-acting insulin and intermediate options. Depending on your needs, your doctor may prescribe a mixture of insulin types to use throughout the day and night.
    Insulin can't be taken orally to lower blood sugar because stomach enzymes interfere with insulin's action. Often insulin is injected using a fine needle and syringe or an insulin pen &mdash; a device that looks like a large ink pen.
    An insulin pump also may be an option. The pump is a device about the size of a small cellphone worn on the outside of your body. A tube connects the reservoir of insulin to a catheter that's inserted under the skin of your abdomen.
    A tubeless pump that works wirelessly is also now available. You program an insulin pump to dispense specific amounts of insulin. It can be adjusted to deliver more or less insulin depending on meals, activity level and blood sugar level.
    In September 2016, the Food and Drug Administration approved the first artificial pancreas for people with type 1 diabetes who are age 14 and older. A second artificial pancreas was approved in December 2019. Since then systems have been approved for children older than 2 years old.
    An artificial pancreas is also called closed-loop insulin delivery. The implanted device links a continuous glucose monitor, which checks blood sugar levels every five minutes, to an insulin pump. The device automatically delivers the correct amount of insulin when the monitor indicates it's needed.
    There are more artificial pancreas (closed loop) systems currently in clinical trials.</p>
    </li>
    <li>
    <p><strong>Oral or other medications.</strong> Sometimes other oral or injected medications are prescribed as well. Some diabetes medications stimulate your pancreas to produce and release more insulin. Others inhibit the production and release of glucose from your liver, which means you need less insulin to transport sugar into your cells.
    Still others block the action of stomach or intestinal enzymes that break down carbohydrates or make your tissues more sensitive to insulin. Metformin (Glumetza, Fortamet, others) is generally the first medication prescribed for type 2 diabetes.
    Another class of medication called SGLT2 inhibitors may be used. They work by preventing the kidneys from reabsorbing sugar into the blood. Instead, the sugar is excreted in the urine.</p>
    </li>
    <li>
    <p><strong>Transplantation.</strong> In some people who have type 1 diabetes, a pancreas transplant may be an option. Islet transplants are being studied as well. With a successful pancreas transplant, you would no longer need insulin therapy.
    But transplants aren't always successful &mdash; and these procedures pose serious risks. You need a lifetime of immune-suppressing drugs to prevent organ rejection. These drugs can have serious side effects, which is why transplants are usually reserved for people whose diabetes can't be controlled or those who also need a kidney transplant.</p>
    </li>
    <li>
    <p><strong>Bariatric surgery.</strong> Although it is not specifically considered a treatment for type 2 diabetes, people with type 2 diabetes who are obese and have a body mass index higher than 35 may benefit from this type of surgery. People who've undergone gastric bypass have seen significant improvements in their blood sugar levels. However, this procedure's long-term risks and benefits for type 2 diabetes aren't yet known.</p>
    </li>
</ul>


            <h3  align="center" style="color:white;">Treatment for gestational diabetes</h3><p>Controlling your blood sugar level is essential to keeping your baby healthy and avoiding complications during delivery. In addition to maintaining a healthy diet and exercising, your treatment plan may include monitoring your blood sugar and, in some cases, using insulin or oral medications.
Your doctor also will monitor your blood sugar level during labor. If your blood sugar rises, your baby may release high levels of insulin &mdash; which can lead to low blood sugar right after birth.</p>



</div>
        </div>
</div>
        </div>
</div>






<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <ul class="list-unstyled">
            <li><a href="/">Home</a></li>
            <li><a href="/home2">Treatment</a></li>
            <li><a href="/dd">Diabetes Detector</a></li>
              <li><a href="/map">Nearby Hospitals</a></li>
            <li><a href="/about">About us</a></li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    	<div class="col-md-3" align="right">

    		<h4>Follow Us</h4>
            <ul class="social-network social-circle">
             <li><a href="https://www.facebook.com" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
             <li><a href="https://www.linkedin.com" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
		</div>
    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2022 - DetTech  All rights reserved.</p>
		</div>
	</div>


  </div>
  </div>
</footer>

{% endblock %}